<h3>Me dá um exemplo real?</h3>
<div id="exemplo-1">
    <form>
        <fieldset>
            <label>Seu nome: </label>
            <input type="text" id="nome" data-bind="value: nome" />
        </fieldset>
    </form>
    <p data-bind="if: nome">Olá
    <span data-bind="text: nome"></span>!</p>
    <button class="insp">Inspecionar ViewModel</button>
</div>

<script type="text/javascript">
var exemplo1 = $('#exemplo-1'), 
    exemplo1_view_model = {
        'nome': ko.observable()
    };

ko.applyBindings(exemplo1_view_model, exemplo1[0]);
exemplo1.find('.insp').click(function() {
    alert(ko.toJSON(exemplo1_view_model));
});
</script>
