<div id='contactsList'>
    <table class='contactsEditor'>
        <tr>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Telefones</th>
        </tr>
        <tbody data-bind="foreach: contacts">
            <tr>
                <td>
                    <input data-bind='value: firstName' />
                    <div><a href='#' data-bind='click: $root.removeContact'>Remover</a></div>
                </td>
                <td><input data-bind='value: lastName' /></td>
                <td>
                    <table>
                        <tbody data-bind="foreach: phones">
                            <tr>
                                <td><input data-bind='value: type' /></td>
                                <td><input data-bind='value: number' /></td>
                                <td><a href='#' data-bind='click: $root.removePhone'>Remover</a></td>
                            </tr>
                        </tbody>
                    </table>
                    <a href='#' data-bind='click: $root.addPhone'>Adicionar telefone</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<p>
    <button data-bind='click: addContact'>Adicionar contato</button>
    <button data-bind='click: save, enable: contacts().length > 0'>toJSON!</button>
</p>
<textarea data-bind='value: lastSavedJson' rows='18' cols='95' disabled='disabled'> </textarea>
